<div class="container mt-1">
  <div class="gsp-form">
    <form>
      <div class="row">
        <div class="col-md-5">
          <table>
            <tr>
              <td>
                <label for="invoiceNo">Invoice No:</label>
              </td>
              <td>
                <input class="small-input" type="text" />
              </td>
              <td>
                <label for="invoiceNo">Date:</label>
              </td>
              <td>
                <input class="small-input" type="text" />
              </td>
            </tr>
            <tr>
              <td><label for="ex">Export LC No</label></td>
              <td colspan="3"><input class="large-input" type="text" /></td>
            </tr>
            <tr>
              <td><label for="ex">Date</label></td>
              <td colspan="3"><input class="large-input" type="text" /></td>
            </tr>
            <tr>
              <td><label for="ex">Total Quantity Under LC</label></td>
              <td colspan="3"><input class="large-input" type="text" /></td>
            </tr>
            <tr>
              <td>
                <label for="invoiceNo">Date:</label>
              </td>
              <td>
                <input class="small-input" type="text" />
              </td>
              <td>
                <label for="invoiceNo">Value:</label>
              </td>
              <td>
                <input class="small-input" type="text" />
              </td>
            </tr>
            <tr>
              <td><label for="ex">LC Opening Bank</label></td>
              <td colspan="3"><input class="w-100" type="text" /></td>
            </tr>
            <tr>
              <td><label for="ex">Branch</label></td>
              <td colspan="3"><input class="w-100" type="text" /></td>
            </tr>
            <tr>
              <td><label for="ex">LC Expiry Date</label></td>
              <td colspan="3"><input class="w-100" type="text" /></td>
            </tr>
            <tr>
              <td><label for="ex">Excise Gate Pass No</label></td>
              <td colspan="3"><input class="large-input" type="text" /></td>
            </tr>
            <tr>
              <td><label for="ex">Date</label></td>
              <td colspan="3"><input class="large-input" type="text" /></td>
            </tr>
          </table>
        </div>

        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <label class="w-100" for="ex">Description of Yarn</label>
            </div>
            <div class="col-md-2">
              <label class="w-100" for="ex">Weight</label>
            </div>
            <div class="col-md-2">
              <label class="w-100" for="ex">Delivery Date</label>
            </div>
            <div class="col-md-2">
              <label class="w-100" for="ex">Invoice No and Date</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input class="large-input" type="text" />
            </div>
            <div class="col-md-2">
              <input class="large-input" type="text" />
            </div>
            <div class="col-md-2">
              <input class="large-input" type="text" />
            </div>
            <div class="col-md-2">
              <input class="large-input" type="text" />
            </div>
            <div class="col-md-6">
              <input class="large-input" type="text" />
            </div>
            <div class="col-md-2">
              <input class="large-input" type="text" />
            </div>
          </div>
          <hr />
          <!-- <tr>
                  <td><label for="ex">Producer:</label></td>
                  <td>  
                    <select  name="company" id="company">
                      <option value="Armada Spinning">Armada Spinning</option>
                      <option value="Aman Spinning Mills">Aman Spinning Mills</option>
                    </select>
                  </td>
                  <td>Reset</td>
                </tr> -->
        
            <label for="ex">Producer:</label>
            <select name="company" id="company">
              <option value="Armada Spinning">Armada Spinning</option>
              <option value="Aman Spinning Mills">Aman Spinning Mills</option>
            </select>
            <br /><input class="long-input w-100" type="text" />
            <br />
            <label for="ex">Manufaturing Capacity:</label>
            <input class="long-input w-100"type="text" />
            <br />
            <label for="ex">Supplies to M/S</label>
            <select name="company" id="company">
              <option value="Armada Spinning">Armada Spinning</option>
              <option value="Aman Spinning Mills">Aman Spinning Mills</option>
            </select>
            <br /><input class="long-input w-100" type="text" />
         

          <div class="d-flex mt-1">
            <button type="button" class="btn btn-outline-primary">
              Change
            </button>
            <button type="button" class="btn btn-outline-secondary ms-2">
              Print
            </button>
            <button type="button" class="btn btn-outline-success ms-2">
              Save a Copy
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
