<div class="el-container">
  <div class="viewgsp-form">
    <div class="el-row">
      <div class="el-col-4">
        <!-- first row -->

        <div class="el-row">
          <div class="el-col-6">
            <div class="form-input">
              <input
                id="name"
                class="form-element-input"
                type="input"
                placeholder="Please fill in your name"
                required
              />
              <div class="form-element-bar"></div>
              <label class="form-element-label" for="name">Invoice No</label>
              <!-- <small class="form-element-hint">This is a hint.</small> -->
            </div>
          </div>
          <div class="el-col-6">
            <div class="form-input">
              <input
                id="name"
                class="form-element-input"
                type="input"
                placeholder="Please fill in your name"
                required
              />
              <div class="form-element-bar"></div>
              <label class="form-element-label" for="name">Date</label>
              <!-- <small class="form-element-hint">This is a hint.</small> -->
            </div>
          </div>
        </div>
        <!-- first row -->

        <!-- Others fields of first main column -->
        <div class="form-input">
          <textarea
            style="height: 60px"
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          ></textarea>
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name">Export LC No</label>
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>
        <div class="form-input">
          <textarea
            style="height: 60px"
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          ></textarea>
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name">Date</label>
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>
        <div class="form-input">
          <textarea
            style="height: 60px"
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          ></textarea>
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name"
            >Total Quantity Under LC</label
          >
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>

        <!-- Fifth Row -->
        <!-- first row -->

        <div class="el-row">
          <div class="el-col-6">
            <div class="form-input">
              <input
                id="name"
                class="form-element-input"
                type="input"
                placeholder="Please fill in your name"
                required
              />
              <div class="form-element-bar"></div>
              <label class="form-element-label" for="name">Date</label>
              <!-- <small class="form-element-hint">This is a hint.</small> -->
            </div>
          </div>
          <div class="el-col-6">
            <div class="form-input">
              <input
                id="name"
                class="form-element-input"
                type="input"
                placeholder="Please fill in your name"
                required
              />
              <div class="form-element-bar"></div>
              <label class="form-element-label" for="name">Values</label>
              <!-- <small class="form-element-hint">This is a hint.</small> -->
            </div>
          </div>
        </div>
        <!-- first row -->
        <!-- Fifth Row -->
        <div class="form-input">
          <input
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          />
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name">LC Opening Bank</label>
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>
        <div class="form-input">
          <input
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          />
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name">Branch</label>
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>
        <div class="form-input">
          <input
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          />
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name">LC Expiry Date</label>
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>
        <div class="form-input">
          <textarea
            style="height: 60px"
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          ></textarea>
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name">Date</label>
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>
        <div class="form-input">
          <textarea
            style="height: 60px"
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          ></textarea>
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name">Date</label>
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>
        <div class="form-input">
          <textarea
            style="height: 60px"
            id="name"
            class="form-element-input"
            type="input"
            placeholder="Please fill in your name"
            required
          ></textarea>
          <div class="form-element-bar"></div>
          <label class="form-element-label" for="name">Date</label>
          <!-- <small class="form-element-hint">This is a hint.</small> -->
        </div>
        <!-- Others fields of first main column -->
      </div>

      <!-- Main second Column starts -->
      <!-- Main second Column starts -->
      <div class="el-col-8">
        
      </div>
    </div>
  </div>
</div>
